.logoo {
    height: 50px;
    width: auto;
    display: block;
    object-fit: contain;
}

.logo a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px 12px;
    text-decoration: none;
    color: inherit;
    width: max-content; 
}

.logo a b {
    display: block;
    font-size: 1.3rem;
    line-height: 1;
    font-family: Calibri;
}

.logo a small {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    margin-left: auto;
    margin-top: auto;
    font-weight: 400;
    color: #504f4f66;
    letter-spacing: 2px;
    line-height: 1.1;
    align-self: start;
    text-align: center;
}

nav {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Calibri;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0   ;
    padding: 0  ;
    display: flex;
    gap: 5px;
    margin-left: 5px;
    flex-grow: 1;
}

nav a {
    display: block;
    color: red;
    text-decoration: none;
    padding: 15px 20px;
}

nav form {
    display: flex;
    align-items: center;
    position: relative;
}

nav form label {
    display: none;
}

nav form input {
    background-color: #1a1a1a;
    color: #ffffff;
    border: 1px solid #333333;
    padding: 8px  36px 8px 16px ;
    border-radius: 20px;
    font-size: 0.85rem;
    outline: none;
    width: 200px;
    transition: all 0.3 ease;
}

nav form input[type="search"]:focus {
    border-color: #e50914;
    background-color: #262626;
    width: 240px;
}

nav form button {
    background: transparent;
    border: none;
    color: #aaaaaa;
    font-size: 1rem;
    position: absolute;
    right: 12px;
    cursor: pointer;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
}

nav form button::before {
    content: "🔍︎";
    text-indent: 0;
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
}

nav form button::hover::before {
    color: #ffffff;
}